.root {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 234px);
  grid-auto-rows: 391px;
  gap: 8px;
  justify-content: start;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  position: relative;
}

.content {
  padding: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-grow: 1;
  position: absolute;
  top: 230px;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  transform: translateY(0);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.time {
  margin-top: 10px;
  color: var(--color-light-900);
}

.text {
  overflow-wrap: break-word;
}

.showMore {
  color: #3a8ee6;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.text {
  word-break: break-word;
}

.descriptionWrapper {
  position: relative;
}

.descriptionText {
  max-height: 72px;
  transition: max-height 0.4s ease;
}

.expandedContent {
  transform: translateY(-80px); // поднимаем вверх, "накладываясь" на картинку
}

.expanded {
}
