.main {
  display: flex;
  justify-content: center;
  padding: 0 64px 60px 25px;
}

.scrollArea {
  margin-top: var(--header-height);
}

.layoutContainer {
  display: flex;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 50%;

  width: 10px !important;
  height: 10px !important;
  margin-top: -10px;

  color: #000 !important;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}
