.main {
  display: flex;
  justify-content: center;
  padding: 0 64px 60px 25px;
}

.scrollArea {
  overflow: auto;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}

.layoutContainer {
  display: flex;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
  top: 50%;
  width: 10px !important;
  height: 10px!important;
  margin-top: -10px;
  position: absolute;
  z-index: 10;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

